@font-face {
  font-family: "The Seasons";
  src: url("/fonts/the-seasons/TheSeasons-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Cinzel";
  src: url("/fonts/cinzel/Cinzel-Variable.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("/fonts/cinzel-decorative/CinzelDecorative-Regular.woff2") format("woff2");
  font-display: swap;
}
