/* Symphony Pro is the script face used by the invitation. When the licensed
   file is delivered, place it at the path below and enable this declaration.

@font-face {
  font-family: "Symphony Pro";
  src: url("/fonts/symphony-pro/SymphonyPro-Regular.woff2") format("woff2");
  font-display: swap;
}
*/
